body {
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --primary: #2f8f9d;
  --secondary: #3bacb6;
  --primary-light: #82dbd8;
  --secondary-light: #b3e8e5;
}
