.study {
  margin: 1%;
  border-radius: 10%;
}

.btn2 {
  font-size: 1.4rem;
  /* padding: 1em 2.7em; */
  /* font-weight: 500; */
  background: #101f33;
  margin: 1%;
  border-radius: 10%;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

/* .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
} */

/* .label {
  position: relative;
  top: -1px;
} */

/* .transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #009be5;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */
/* 
.btn2:hover .transition {
  width: 14em;
  height: 14em;
} */

.btn2:hover {
  cursor: pointer;
}

.btn2:active {
  transform: scale(0.97);
}
