.input {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  background-color: rgb(214, 214, 214);
  border-style: none;
  padding-left: 8px;
  align-items: flex-end;
  font-size: 1.4rem;
}

.container {
  grid-area: content;
  overflow-y: auto;
  padding: 60px 40px;
  justify-content: center;
  text-align: center;
}

.container2 {
  height: 40vh;
  /* border: solid black; */
  /* padding: 10px; */
  border-radius: 5px;
  border: solid #009be5;
  border-width: thin;
}

.containerDivInput {
  width: 20vw;
  height: 45px;
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 214, 214);
  border-style: none;
  border-bottom: 2px rgb(7, 5, 48);
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 2vw;
}

.subtitle {
  text-align: left;
  margin-top: 8px;
  margin-left: 8px;
  color: #666;
  font-size: 1rem;
}

.rowContainer {
  margin-top: 15px;
  margin-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button {
  color: white;
  width: 15vw;
  height: 6vh;
  border: 1px solid transparent;
  box-shadow: 0% 1% 0% 5% black;
  background-color: #009be5;
  padding: 5px;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}

.btn {
  font-size: 1.4rem;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #101f33;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #009be5;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover .transition {
  width: 18em;
  height: 14em;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
}

.container2 {
  padding: 10px;
  border-radius: 5px;
  border: solid #009be5;
  border-width: thin;
  display: flex;
  justify-content: center;
}
