.headercontainer {
  background-color: #009be5;
  margin-top: -28%;
  color: white;
  display: flex;
  width: 500%;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  z-index: 10;
  color: aliceblue;
  margin-left: -40%;
  margin-top: 15%;
  text-transform: capitalize;
}

/* .headertitle {
  grid-area: bottom-left;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2rem;
} */
.avatarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.avatarcontainer {
  border-radius: 50%;
  margin-left: 93%;
  margin-top: 9px;
  height: 60px;
  background-color: white;
  width: 60px;
}
.avatar {
  margin-right: 3px;
  width: 50px;
  margin-left: 35px;
}
.helpcontainer {
  display: flex;
  flex-direction: row;
  grid-area: bottom-right;
  margin-top: 10px;
  align-items: center;
  padding-bottom: 2rem;
}
button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 10px;

  letter-spacing: 1px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

.docs_btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.644);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.docs_btn:hover {
  color: white;
}
.web_btn {
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.web_btn:hover {
  background-color: #0d7db18e;
}
.web_btn:active {
  background-color: rgba(255, 255, 255, 0.507);
}
.fa_icon {
  padding: 1rem 1rem;
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.fa_icon:hover {
  background-color: #0f8ac469;
  border-radius: 50%;
}
.fa_icon:active {
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 50%;
}
