/* body{

} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 500px;
}

h3 {
  border: 1px solid black;
  color: green;
}

.datepicker {
  display: flex;
  border: 1px solid red;
}

.turnContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.turns {
  border: 1px solid pink;
  display: flex;
  flex-direction: row-reverse;
  width: max-content;
  margin-bottom: 20px;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #1dc9a0;
  font-size: 16px;
  margin-left: 10px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
  margin-top: -8px;
}

.btn:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #1dc9a0;
  color: #1dc9a0;
  transform: translateY(-5px) scale(1.05);
}

.btn:active {
  background-color: transparent;
  border-color: #1dc9a0;
  color: #1dc9a0;
  transform: translateY(5px) scale(0.95);
}

.btn:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}
