.container {
  grid-area: content;
  overflow-y: auto;
  padding: 60px 40px;
  width: 100%;
}
.name_container {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  background-color: var(--primary-light);
  padding: 10px 0;
}

.list {
  border: 1px solid black;
  overflow: auto;
}

/* .pname {
  grid-area: pname;
}

.date {
  grid-area: date;
}

.amount {
  grid-area: amount;
}

.status {
  grid-area: status;
} */

.list_item {
  display: flex;
  align-items: center;
}

.b_container_error {
  display: flex;
  padding: 16px;
  color: rgb(95, 33, 32);
  border: 1px solid #ef5350;
  justify-content: space-between;
}

.x_icon {
  background: none;
  cursor: pointer;
  color: rgb(95, 33, 32);
  border: 0;
}
