.budget {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.budget p {
  font-size: 1.2rem;
  font-weight: 400;
}

.buton {
  background-color: #101f33;
  text-decoration: none;
  border: none;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
  justify-self: center;
  width: 50%;
}
