.buton {
  background-color: #101f33;
  border: none;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
  margin-top: 2%;
  width: 20%;
}

.rp_container {
  grid-area: content;
  overflow-y: auto;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.input_container {
  display: inline-flex;
  flex-direction: column;
  margin: 15px 0;
}

.input {
  padding: 27px 12px 10px;
  border: none;
  font-size: 1.6rem;
}

.danger {
  animation: shake 300ms;
  color: #f44336;
  font-size: 1.6rem;
}

.input:focus-visible {
  border: none;
}

.danger:focus-visible {
  border: 2px solid #f44336;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.btn {
  font-size: 1.4rem;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #101f33;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #009be5;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover .transition {
  width: 14em;
  height: 14em;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
}

.labelBirth {
  font-size: 1.4rem;
  color: #101f33;
  border: none;
}
