.treatment {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text {
  font-size: 1.2rem;
  font-weight: 400;
}

.quantity {
  display: flex;
}
