.ic_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: content;
  overflow: auto;
  padding: 60px 40px;
}

.form {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.input_container {
  display: inline-flex;
  flex-direction: column;
  margin: 15px 0;
}

.input {
  padding: 27px 12px 10px;
  border: none;
  font-size: 1.6rem;
}

.selectLabel {
  font-size: 1.6rem;
}

.schLabel {
  font-size: 1.6rem;
  display: block;
  margin: 1.5rem 0;
}

.schInput {
  padding: 27px 12px 10px;
  border: none;
  font-size: 1.6rem;
  margin: 0 0.5rem;
}

.danger {
  animation: shake 300ms;
  color: #f44336;
  font-size: 1.6rem;
}

.input:focus-visible {
  border: none;
}

.danger:focus-visible {
  border: 2px solid #f44336;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.buton {
  background-color: #101f33;
  border: none;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 5%;
  /* width: 20%; */
}

.whContainer {
  background-color: var(--primary);
  padding: 1rem;
  margin-bottom: 1rem;
}
.whContainer h3 {
  text-align: center;
  font-size: 1.6rem;
}

.dayContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 1rem 0;
}

.whText {
  font-size: 1.6rem;
}
